header, footer {
  color: #eee9df;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

header {
  background: linear-gradient(#1B2632 90%, #2C3B4D);
}

footer {
  background: linear-gradient(#2C3B4D 10%, #1B2632);
}
/* Página inicial */

.fondo {
  background-image: url("/Fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100% - 300px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  text-align: center;
  color: white;
  background-color: #2C3B4D;
  padding: 2rem;
  border-radius: 8px;
}

.inicio-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 0.5rem;
  cursor: pointer;
}

/* Página principal */
.contenedor-principal {
  width: 100%;
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #2C3B4D;
  color: #A35139;
}
.contenedor-barra {
  display: flex;
  width: 100%;
  max-width: 1920px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #C9C1B1;
}

.barra {
  width: 55%;
  height: 5vh;
  margin: 2vh;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #eee9df;
  color: black;
}

.contenedor-libros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #C9C1B1;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.libro {
  height: 650px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
  border: 2px solid #A35139;
  border-radius: 15px;
  background-color: #FFB162;
  padding: 1rem;
}

.imagen-libro {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.libro-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 900px) {
  .contenedor-libros {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contenedor-libros {
    grid-template-columns: 1fr;
  }
  .contenedor-barra {
  justify-content: left;
}
}

.title-libro {
  text-align: center;
}
.price-libro {
  text-align: right;
}

.libro:hover {
  border: 2px solid #eee9df;
  background-color: #1B2632;
  color: #eee9df;
}

/* Detalles del libro */

.contenedor-detalles {
  min-height: calc(100% - 300px);
  padding: 50px;
  background-color: #C9C1B1;
}

.contenedor-detalles img {
  width: 100%;
  height: 700px;
  object-fit: contain;
}
.contenedor-detalles-libro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contenedor-detalles-libro > div > h2 {
  font-size: 40px;
}

.contenedor-detalles-libro > div > p {
  font-size: 20px;
}

.contenedor-detalles > div > div > button {
  font-size: 20px;
  background-color: #A35139;
  color: #eee9df;
  padding: 5px;
}

@media (max-width: 900px) {
  .contenedor-detalles {
    height: auto;
  }
  .contenedor-detalles-libro {
    grid-template-columns: 1fr;
  }
}

.agregar-button:hover {
  background-color: #FFB162;
  color: #1B2632;
}

/* Carrito */

.cart-button {
  position: fixed;
  right: 20px;
  top: 170px;
  background-color: #A35139;
  color: #eee9df;
  cursor: pointer;
}
.cart-button:hover {
  background-color: #FFB162;
  color: #1B2632;
}

.carrito {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: calc(100vh - 120px);
  color: #eee9df;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: #1B2632;
  display: flex;
  flex-direction: column;
}

.carrito.open {
  transform: translateX(0);
}
.cart-button.open {
  transform: translateX(200%);
}
.contenedor-tu-carrito {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee9df;
  height: 65px;
}
.x-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
}
.x-button:hover {
  background-color: #FFB162;
  color: #1B2632;
}
.title {
  font-size: 25px;
  margin: 15px;
}
.price {
  font-size: 20px;
  margin: 15px;
}
.cantidad {
  font-size: 15px;
  margin: 15px;
}
.items-carrito {
  flex: 1;
  overflow-y: auto;
}
.borrar-button {
  width: 30px;
  height: 30px;
  position: relative;
  right: -280px;
  bottom: 50px;
  cursor: pointer;
}
.borrar-button:hover {
  background-color: #FFB162;
  color: #1B2632;
}
.total {
  position: fixed;
  bottom: -120px;
  padding: 10px;
  font-size: 20px;
  background-color: #1B2632;
  border-top: 1px solid #eee9df;
  width: 100%;
  height: 120px;
}
.pedido-button {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 40px;
}
.carrito button {
  background-color: #A35139;
  color: #eee9df;
  cursor: pointer;
}
.carrito button:hover {
  background-color: #FFB162;
  color: #1B2632;
}
/* Checkout */

.contenedor-checkout {
  background-color: #C9C1B1;
  height: auto;
  margin: 0;
  font-size: 20px;
  padding: 20px;
}

.contenedor-checkout button {
  background-color: #A35139;
  color: #eee9df;
  font-size: 20px;
}

.item-checkout {
  border-bottom: 1px solid #1B2632;
}
.borrar-checkout {
  position: relative;
  right: calc(-100% + 50px);
  bottom: 50px;
}
.total-checkout {
  font-size: 30px;
}

.pagar-button {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}
.pagar-button:hover {
  background-color: #FFB162;
  color: #1B2632;
}